In [11]:
from math import nan

import pandas as pd
from nltk.corpus import stopwords

In [12]:
INPUT_PATH = "datasets/ruddit_with_text.csv"
OUTPUT_PATH = "datasets/cleaned_dataset.csv"

In [13]:
dataset = pd.read_csv(INPUT_PATH)
dataset.head()

,post_id,comment_id,txt,url,offensiveness_score
0,42g75o,cza1q49,> The difference in average earnings between m...,https://www.reddit.com/r/changemyview/comments...,-0.083
1,42g75o,cza1wdh,"The myth is that the ""gap"" is entirely based o...",https://www.reddit.com/r/changemyview/comments...,-0.022
2,42g75o,cza23qx,[deleted],https://www.reddit.com/r/changemyview/comments...,0.167
3,42g75o,cza2bw8,The assertion is that women get paid less for ...,https://www.reddit.com/r/changemyview/comments...,-0.146
4,42g75o,cza2iji,You said in the OP that's not what they're mea...,https://www.reddit.com/r/changemyview/comments...,-0.083

In [14]:
words = {}

In [15]:
english_stopwords = stopwords.words("english")
clean_dataset = pd.DataFrame()
clean_dataset["offensiveness_score"] = dataset["offensiveness_score"]
clean_dataset["keywords"] = dataset["txt"] \
    .map(lambda comment: [word.lower() for word in comment.split(" ") if word.isalpha()]) \
    .map(lambda keywords: [keyword for keyword in keywords if keyword not in english_stopwords]) \
    .map(lambda keywords: " ".join(keywords))
clean_dataset["keywords"].replace("", nan, inplace=True)
clean_dataset.dropna(subset=["keywords"], inplace=True)
clean_dataset = clean_dataset[["keywords", "offensiveness_score"]]
clean_dataset.head()

                                            keywords  offensiveness_score
0  difference average earnings men women explaine...               -0.083
1                            myth entirely based sex               -0.022
3        assertion women get paid less get paid less               -0.146
4      said op measuring women make jlaw complaining               -0.083
5  women payed less think many people say case th...               -0.042

In [16]:
clean_dataset.to_csv(OUTPUT_PATH)